/**
 * @Author: zc 
 * @Date: 2018-09-25 10:49:26 
 * @Email: 237350543@qq.com 
 * @Github: https://github.com/ZCreturn0/ZC-UI 
 */

table{
    color: #b3d4e4;
    border-collapse:collapse;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #2149c2;
}

th,td{
    text-align: center;
    padding: 15px 0;
}

tr:nth-child(even){
    background: #202f94;
}

tr:nth-child(odd){
    background: #1f2681;
}

.zc_caption_tr{
    background: #2c6edf;
}

.zc_border{
    border: 1px solid grey;
}

.pager{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.pager-node{
    background: #f4f4f5;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #606266;
    font-weight: bold;
}

.pager-node:hover{
    color: #409eff;
}

.pager-selected{
    background: #409eff;
    color: #fff;
}