/**
 * @Author: zc 
 * @Date: 2018-09-25 10:49:26 
 * @Email: 237350543@qq.com 
 * @Github: https://github.com/ZCreturn0/ZC-UI 
 */

table{
    color: #b3d4e4;
    border-collapse:collapse;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #2149c2;
}

th,td{
    text-align: center;
    padding: 15px 0;
}

tr:nth-child(even){
    background: #202f94;
}

tr:nth-child(odd){
    background: #1f2681;
}

.zc_caption_tr{
    background: #2c6edf !important;
}

.zc_border{
    border: 1px solid grey;
}

.pager{
    width: 80%;
    margin: 50px auto 20px;
    display: flex;
    justify-content: space-around;
}

.pager-node{
    background: #f4f4f5;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #606266;
    font-weight: bold;
}

.pager-node:hover{
    color: #409eff;
}

.pager-selected{
    background: #409eff;
    color: #fff;
}

.pager-selected:hover{
    background: #409eff;
    color: #fff;
}

.disabled{
    cursor: not-allowed;
    color: #ccc;
}

.disabled:hover{
    color: #ccc;
}

.total{
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #606266;
    font-weight: bold;
}

.jump{
    background: #fff;
    border-radius: 5px;
    color: #606266;
    font-weight: bold;
}

.jump-input{
    display: inline-block;
	outline-style: none ;
	outline-width: 0px ;
	border-style: none ;
	text-shadow: none ;
	-webkit-appearance: none ;
	outline-color: transparent ;
	box-shadow: none;
    width: 50px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.jump-input:focus{
    border: #409eff 1px solid;
}

.more-pre,.more-next{
    line-height: 20px;
}

.more-pre::before,.more-next::before{
    content: attr(data-icon);
}